@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 223 24% 6%;
        --card: 0 0% 100%;
        --card-foreground: 214 18% 8%;
        --popover: 0 0% 100%;
        --popover-foreground: 214 18% 8%;
        --primary: 214 18% 8%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96%;
        --secondary-foreground: 219 19% 15%;
        --muted: 0 0% 96%;
        --muted-foreground: 0 0% 45%;
        --accent: 0 0% 96%;
        --accent-foreground: 214 18% 8%;
        --destructive: 342 92% 62%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 90%;
        --input: 0 0% 90%;
        --ring: 0 0% 4%;
        --chart-1: 162 100% 50%;
        --chart-2: 202 97% 66%;
        --chart-3: 26 100% 59%;
        --chart-4: 342 92% 62%;
        --chart-5: 272 92% 69%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 222 23% 5%;
        --foreground: 0 0% 98%;
        --card: 214 18% 8%;
        --card-foreground: 0 0% 98%;
        --popover: 214 18% 8%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 214 18% 8%;
        --secondary: 210 15% 10%;
        --secondary-foreground: 0 0% 98%;
        --muted: 215 19% 25%;
        --muted-foreground: 0 0% 64%;
        --accent: 205 16% 21%;
        --accent-foreground: 0 0% 98%;
        --destructive: 342 92% 62%;
        --destructive-foreground: 0 0% 98%;
        --border: 225 12% 27%;
        --input: 225 12% 27%;
        --ring: 0 0% 83%;
        --chart-1: 162 100% 50%;
        --chart-2: 202 97% 66%;
        --chart-3: 26 100% 59%;
        --chart-4: 342 92% 62%;
        --chart-5: 272 92% 69%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}

html,
body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
